.venv/
__pycache__/
*.log
draft.txt
*.json
*.env
test_file.py
clear_qdrant.py
google_drive_listener.py
clear_databases.py
update_database.py
pages_test.txt
chunks_test2.txt
test_file_2.py

.+3%M_gn2H9yiYb